.row
  .col-xs-6
    = bootstrap_form_for([@user, @card || Card.new], remote: true) do |f|
      = f.text_field :chinese
      = f.text_field :english
      = f.text_field :pinyin 
      = f.text_area :breakdown_html
      = f.text_area :notes
      = f.submit (@card ? "Save Card" : "Create Card "), class: "btn btn-primary"
  .col-xs-6
    #character_form_preview.tree